{% extends 'base.html.twig' %}


{% block body %}

    {% for annonce in annonces %}

        <section class="articles">
            <article>
                <h2> {{ annonce.titre }}</h2>
                {#<div class="metadata">Crée le : {{ annonce.createdAt | date('d/m/Y') }} à  {{ annonce.createdAt | date('H:i') }}</div>#}
                <img src="\uploads\images\{{ annonce.image }}" alt="{{ annonce.titre }}">

                <div class="content">{{ annonce.description }}</div>
                <div class="content">{{ annonce.region }}</div>
                <div class="content">{{ annonce.categorie }}</div>
                <div class="content">{{ annonce.autre }}</div>
                <a href="{{path('annonceshow',{"id":annonce.id} ) }}" class="btn btn-primary">Voir l'annonce</a>
            </article>



        <h4>Pour modifier ou supprimer une annonce,cliquer sur le bouton correspondant</h4>

            <a onclick="return confirm('Cette action est définitive');" href="{{ path("updateann", {"annonce":annonce.id}) }}">Modifier</a>
            <a onclick="return confirm('Cette action est définitive');" href="{{ path("annoncedelete", {"annonce":annonce.id}) }}">Supprimer</a>

        </section>


            {% endfor %}
{% endblock %}
